{% extends 'safenet/base.html' %}
{% load static %}

{% block content %}
<h1 style="padding-left: 20px;"">Log In</h1>
<div class="loginform" style="padding-left: 20px;">
	<form method="post" action="{% url 'safenet:user_login' %}">
		{% csrf_token %}
		<fieldset>
			<legend style="padding-top: 20px; padding-bottom: 10px;">Log-In Information</legend>
				<label for="username">Username:</label>
				<input type="text" name="username" placeholder="Username">
				<br><br>
				<label for="password">Password:</label>
          		<input type="password" name="password" placeholder="Password">
				<br><br>
				<input type="submit" value="Login">
		</fieldset>
	</form>
</div>
{% endblock%}
	
