{% extends 'safenet/base.html' %}
{% load static %}

{% block content %}
<div style="padding-left: 20px;">
<h1 style="padding-top: 30px;">Plan Information</h1>
<div>This page aims to give some information about all the plans we provide.</div>
<br>
<h2>Plan 1</h2>
<h3>Bookings</h3>
<p>This plan contains all sites related to booking hotels, flights, movies , etc.
	The sites under this plan are:-
	<ul>
		<li>BookMyShow</li>
		<li>RedBus</li>
		<li>MakeMyTrip</li>
		<li>IRCTC</li>
		<li>Trivago</li>
		<li>Oyo</li>
	</ul>
</p>

<h2>Plan 2</h2>
<h3>Ecommerce</h3>
<p>This plan contains all sites related to ecommerce
	The sites under this plan are:-
	<ul>
		<li>Amazon</li>
		<li>Flipkart</li>
		<li>Myntra</li>
		<li>Jabong</li>
		<li>Snapdeal</li>
		<li>SheIn</li>
	</ul>
</p>

<h2>Plan 3</h2>
<h3>Entertainment</h3>
<p>This plan contains all sites related to Entertainment
	The sites under this plan are:-
	<ul>
		<li>Netflix</li>
		<li>Spotify</li>
		<li>YouTube</li>
		<li>Prime Video</li>
		<li>Prime Music</li>
		<li>Twitch</li>
	</ul>
</p>

<h2>Plan 4</h2>
<h3>Games</h3>
<p>This plan contains all gaming sites 
	The sites under this plan are:-
	<ul>
		<li>Kongregate</li>
		<li>Free Online Games</li>
		<li>Pogo</li>
		<li>MiniClip</li>
		<li>AGame</li>
	</ul>
</p>

<h2>Plan 5</h2>
<h3>Illegal</h3>
<p>This plan contains all illegal sites
	The sites under this plan are:-
	<ul>
		<li>123Movies</li>
		<li>GoMovies</li>
		<li>Popcornflix</li>
		<li>Best Free Streaming</li>
	</ul>
</p>

<h2>Plan 6</h2>
<h3>Messaging</h3>
<p>This plan contains all sites that provide messaging facility
	The sites under this plan are:-
	<ul>
		<li>WhatsApp</li>
		<li>Messanger</li>
		<li>WeChat</li>
		<li>Hike</li>
	</ul>
</p>

<h2>Plan 7</h2>
<h3>News</h3>
<p>This plan contains all news sites 
	The sites under this plan are:-
	<ul>
		<li>Reuters</li>
		<li>Times of India</li>
		<li>The Hindu</li>
		<li>The New York Times</li>
		<li>The Washington Post/li>
	</ul>
</p>

<h2>Plan 8</h2>
<h3>Social Media</h3>
<p>This plan contains all social media sites
	The sites under this plan are:-
	<ul>
		<li>Instagram</li>
		<li>Facebook</li>
		<li>Snapchat</li>
		<li>Twitter</li>
		<li>Reddit</li>
		<li>Tumblr</li>
	</ul>
</p>
</div>
{% endblock %}

