{% extends 'safenet/base.html' %}
{% load static %}

{% block content %}
<style>
	.form-group {
		width:300px;
	}
</style>

<script src="{% static 'safenet/javascript/your_plans.js' %}"></script>
<script src="{% static 'safenet/javascript/reload.js' %}"></script>

{% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2><br>
{% else %}
        <h2>Register or Login if you'd like to</h2><br>
{% endif %}

<form class="your-plans" method="POST" action="{% url 'safenet:your_plans' %}" >
	{% csrf_token %}
	<h3>Choose Your Plans</h3>
	<br>
	<fieldset>
		<div class="custom-control custom-checkbox" id = "divCheck1">
			<input type="checkbox" name="c1" class="custom-control-input" id="customCheck1" onclick="myCheck1Function()">
			<label class="custom-control-label" for="customCheck1">Bookings</label>
		</div>

		<div class="custom-control custom-switch" id="divSwitch1" style="display:none">
			<input type="checkbox" name="s1" class="custom-control-input" id="customSwitch1" onclick="mySwitch1Function()" >
			<label class="custom-control-label" for="customSwitch1" >Toggle this switch to redirect</label>
		</div>
		<div class="form-group" id="divText1" style="display:none">
			<label for="URL1">URL</label>
			<select name="u1" class="form-control" id="URL1">
				<option value="wikipedia.org">Wikipedia</option>
				<option value="stephenwolfram.com">Stephen Wolfrom</option>
				<option value="w3schools.com">W3Schools</option>
				<option value="audi">Audi</option>
			</select>
		</div>
		<br>
		<div class="custom-control custom-checkbox" id = "divCheck2" >
			<input type="checkbox" name="c2" class="custom-control-input" id="customCheck2" onclick="myCheck2Function()">
			<label class="custom-control-label" for="customCheck2">Ecommerce</label>
		</div>
		<div class="custom-control custom-switch" id="divSwitch2" style="display:none">
			<input type="checkbox" name="s2" class="custom-control-input" id="customSwitch2" onclick="mySwitch2Function()">
			<label class="custom-control-label" for="customSwitch2">Toggle this switch to redirect</label>
		</div>
		<div class="form-group" id="divText2" style="display:none">
			<label for="URL2">URL</label>
			<select name="u2" class="form-control" id="URL2">
				<option value="wikipedia.org">Wikipedia</option>
				<option value="stephenwolfram.com">Stephen Wolfrom</option>
				<option value="w3schools.com">W3Schools</option>
				<option value="audi">Audi</option>
			</select>
		</div>
		<br>

		<div class="custom-control custom-checkbox" id = "divCheck3">
			<input type="checkbox" name="c3" class="custom-control-input" id="customCheck3" onclick="myCheck3Function()">
			<label class="custom-control-label" for="customCheck3">Entertainment</label>
		</div>
		<div class="custom-control custom-switch" id="divSwitch3" style="display:none">
			<input type="checkbox" name="s3" class="custom-control-input" id="customSwitch3" onclick="mySwitch3Function()">
			<label class="custom-control-label" for="customSwitch3">Toggle this switch to redirect</label>
		</div>
		<div class="form-group" id="divText3" style="display:none">
			<label for="URL3">URL</label>
			<select name="u3" class="form-control" id="URL3">
				<option value="wikipedia.org">Wikipedia</option>
				<option value="stephenwolfram.com">Stephen Wolfrom</option>
				<option value="w3schools.com">W3Schools</option>
				<option value="audi">Audi</option>
			</select>
		</div>
		<br>

		<div class="custom-control custom-checkbox" id = "divCheck4">
			<input type="checkbox" name="c4" class="custom-control-input" id="customCheck4" onclick="myCheck4Function()">
			<label class="custom-control-label" for="customCheck4">Games</label>
		</div>
		<div class="custom-control custom-switch" id="divSwitch4" style="display:none">
			<input type="checkbox" name="s4" class="custom-control-input" id="customSwitch4" onclick="mySwitch4Function()">
			<label class="custom-control-label" for="customSwitch4">Toggle this switch to redirect</label>
		</div>
		<div class="form-group" id="divText4" style="display:none">
			<label for="URL4">URL</label>
			<select name="u4" class="form-control" id="URL4">
				<option value="wikipedia.org">Wikipedia</option>
				<option value="stephenwolfram.com">Stephen Wolfrom</option>
				<option value="w3schools.com">W3Schools</option>
				<option value="audi">Audi</option>
			</select>
		</div>
		<br>

		<div class="custom-control custom-checkbox" id = "divCheck5">
			<input type="checkbox" name="c5" class="custom-control-input" id="customCheck5" onclick="myCheck5Function()">
			<label class="custom-control-label" for="customCheck5">Illegal</label>
		</div>
		<div class="custom-control custom-switch" id="divSwitch5" style="display:none">
			<input type="checkbox" name="s5" class="custom-control-input" id="customSwitch5" onclick="mySwitch5Function()">
			<label class="custom-control-label" for="customSwitch5">Toggle this switch to redirect</label>
		</div>
		<div class="form-group" id="divText5" style="display:none">
			<label for="URL5">URL</label>
			<select name="u5" class="form-control" id="URL5">
				<option value="wikipedia.org">Wikipedia</option>
				<option value="stephenwolfram.com">Stephen Wolfrom</option>
				<option value="w3schools.com">W3Schools</option>
				<option value="audi">Audi</option>
			</select>
		</div>
		<br>

		<div class="custom-control custom-checkbox" id = "divCheck6">
			<input type="checkbox" name="c6" class="custom-control-input" id="customCheck6" onclick="myCheck6Function()">
			<label class="custom-control-label" for="customCheck6">Messaging</label>
		</div>
		<div class="custom-control custom-switch" id="divSwitch6" style="display:none">
			<input type="checkbox" name="s6" class="custom-control-input" id="customSwitch6" onclick="mySwitch6Function()">
			<label class="custom-control-label" for="customSwitch6">Toggle this switch to redirect</label>
		</div>
		<div class="form-group" id="divText6" style="display:none">
			<label for="URL6">URL</label>
			<select name="u6" class="form-control" id="URL6">
				<option value="wikipedia.org">Wikipedia</option>
				<option value="stephenwolfram.com">Stephen Wolfrom</option>
				<option value="w3schools.com">W3Schools</option>
				<option value="audi">Audi</option>
			</select>
		</div>
		<br>

		<div class="custom-control custom-checkbox" id = "divCheck7">
			<input type="checkbox" name="c7" class="custom-control-input" id="customCheck7" onclick="myCheck7Function()">
			<label class="custom-control-label" for="customCheck7">News</label>
		</div>
		<div class="custom-control custom-switch" id="divSwitch7" style="display:none">
			<input type="checkbox" name="s7" class="custom-control-input" id="customSwitch7" onclick="mySwitch7Function()">
			<label class="custom-control-label" for="customSwitch7">Toggle this switch to redirect</label>
		</div>
		<div class="form-group" id="divText7" style="display:none">
			<label for="URL7">URL</label>
			<select name="u7" class="form-control" id="URL7">
				<option value="wikipedia.org">Wikipedia</option>
				<option value="stephenwolfram.com">Stephen Wolfrom</option>
				<option value="w3schools.com">W3Schools</option>
				<option value="audi">Audi</option>
			</select>
		</div>
		<br>

		<div class="custom-control custom-checkbox" id = "divCheck8">
			<input type="checkbox" name="c8" class="custom-control-input" id="customCheck8" onclick="myCheck8Function()">
			<label class="custom-control-label" for="customCheck8">Social Media</label>
		</div>
		<div class="custom-control custom-switch" id="divSwitch8" style="display:none">
			<input type="checkbox" name="s8" class="custom-control-input" id="customSwitch8" onclick="mySwitch8Function()">
			<label class="custom-control-label" for="customSwitch8">Toggle this switch to redirect</label>
		</div>
		<div class="form-group" id="divText8" style="display:none">
			<label for="URL8">URL</label>
			<select name="u8" class="form-control" id="URL8">
				<option value="wikipedia.org">Wikipedia</option>
				<option value="stephenwolfram.com">Stephen Wolfrom</option>
				<option value="w3schools.com">W3Schools</option>
				<option value="audi">Audi</option>
			</select>
		</div>
	</fieldset>

	<br>
	<br>
	<h3>Add Upto 3 Custom Sites to block</h3>
	<div class="form-group" >
		<label for="URLcust1">URL</label>
		<input type="text" name="c9" class="form-control" id="URLcust1" size="five">
	</div>
	<div class="custom-control custom-switch" id="divSwitchCust1" onclick="mySwitchCust1Function()">
		<input type="checkbox" name="s9" class="custom-control-input" id="customSwitchCust1">
		<label class="custom-control-label" for="customSwitchCust1">Toggle this switch to redirect</label>
	</div>
	<div class="form-group" id="divTextCust1" style="display:none">
		<label for="CustURLRed1">Redirect to URL</label>
		<select name="u9" class="form-control" id="CustURLRed1">
			<option value="wikipedia.org">Wikipedia</option>
			<option value="stephenwolfram.com">Stephen Wolfrom</option>
			<option value="w3schools.com">W3Schools</option>
			<option value="audi">Audi</option>
		</select>
	</div>
	<br>
	<div class="form-group" >
		<label for="URLcust2">URL</label>
		<input type="text" name="c10" class="form-control" id="URLcust2">
	</div>
	<div class="custom-control custom-switch" id="divSwitchCust2">
		<input type="checkbox" name="s10" class="custom-control-input" id="customSwitchCust2" onclick="mySwitchCust2Function()">
		<label class="custom-control-label" for="customSwitchCust2">Toggle this switch to redirect</label>
	</div>
	<div class="form-group" id="divTextCust2" style="display:none">
		<label for="CustURLRed2">Redirect to URL</label>
		<select name="u10" class="form-control" id="CustURLRed2">
			<option value="wikipedia.org">Wikipedia</option>
			<option value="stephenwolfram.com">Stephen Wolfrom</option>
			<option value="w3schools.com">W3Schools</option>
			<option value="audi">Audi</option>
		</select>
	</div>
	<br>
	<div class="form-group" >
		<label for="URLcust3">URL</label>
		<input type="text" name="c11" class="form-control" id="URLcust3">
	</div>
	<div class="custom-control custom-switch" id="divSwitchCust3">
		<input type="checkbox" name="s11" class="custom-control-input" id="customSwitchCust3" onclick="mySwitchCust3Function()">
		<label class="custom-control-label" for="customSwitchCust3">Toggle this switch to redirect</label>
	</div>
	<div class="form-group" id="divTextCust3" style="display:none">
		<label for="CustURLRed3">Redirect to URL</label>
		<select name="u11" class="form-control" id="CustURLRed3">
			<option value="wikipedia.org">Wikipedia</option>
			<option value="stephenwolfram.com">Stephen Wolfrom</option>
			<option value="w3schools.com">W3Schools</option>
			<option value="audi">Audi</option>
		</select>
	</div>

	<br>
	<br>
	<input type="submit" value="Submit">
</form>


{% endblock %}